<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="{{url_for('static', filename='bootstrap.bundle.min.js')}}"></script>
        <script src="{{url_for('static', filename='users.js')}}"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.css')}}">
        <link href="{{url_for('static', filename='fontawesome/css/all.css')}}" rel="stylesheet">
        <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='images/favicon.png')}}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body >
        <div class="d-flex">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark shadow p-3">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3  text-white min-vh-100">
                    <div class="logo mt-2 mb-4 ">
                        <img src="{{url_for('static', filename='images/Logo1.png')}}" alt="" width="40" height="34" style="cursor:pointer" >
                        <span class="fs-6 d-none d-sm-inline px-2 text-light" style="cursor:pointer">Abarrotes Gus</span>
                    </div>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start " id="menu">
                        <!-- <li class="nav-item">
                            <a href="#" class="nav-link align-middle px-0 p-3 text-white">
                                <i class="fa fa-home text-white"></i> <span class="ms-1 d-none d-sm-inline">Principal</span>
                            </a>
                        </li> -->
                        <li>
                            <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 p-3 align-middle text-white">
                                <i class="fa fa-cash-register text-white"></i> <span class="ms-1 d-none d-sm-inline">Ventas</span></a>
                            <ul class="collapse nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                            </ul>
                        </li>
                       <!--  <li>
                            <a href="#" class="nav-link px-0 p-3 align-middle text-white">
                                <i class="fa fa-shopping-cart text-white"></i> <span class="ms-1 d-none d-sm-inline">Compras</span></a>
                        </li> -->
                        <li>
                            <a href="#dashboard" data-bs-toggle="collapse" class="nav-link px-0 p-3  align-middle text-white">
                                <i class="fa fa-shopping-cart text-white"></i> <span class="ms-1 d-none d-sm-inline">Compras</span> <i class="fas fa-caret-down"></i></a>
                            <ul class="collapse  flex-column ms-1" id="dashboard" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a href="#" class="nav-link px-0 text-white"> <span class="d-none d-sm-inline">Compras</span> </a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-0 text-white"> <span class="d-none d-sm-inline">Proveedores</span> </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 p-3 align-middle text-white">
                                <i class="fa fa-tags text-white"></i> <span class="ms-1 d-none d-sm-inline">Inventario</span></a>
                            <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                            </ul>
                        </li>
                        <li>
                            <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 p-3 align-middle text-white">
                                <i class="fa fa-chart-bar text-white"></i> <span class="ms-1 d-none d-sm-inline">Estadisticas</span></a>
                            <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                            </ul>
                        </li>
                        <li>
                            <a href="#submenu4" data-bs-toggle="collapse" class="nav-link px-0 p-3 align-middle text-white">
                                <i class="fa fa-users text-white"></i> <span class="ms-1 d-none d-sm-inline">Usuarios</span></a>
                            <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="w-100">
                <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm p-0">
                    <div class="container-fluid">
                      <div class="collapse navbar-collapse d-flex " id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto p-0 bd-highlight mb-2 mb-lg-0">
                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                                Usuario
                            </a>
                            <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
                              <li><a class="dropdown-item" href="#">Editar usuario</a></li>
                              <li><hr class="dropdown-divider"></li>
                              <li><a class="dropdown-item" href="#">Cerrar sesion</a></li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </nav>
            {% block content %}{% endblock %}
            </div>
        </div>
    </body>

</html>