{% extends "navbar.html" %}
{% block title %}Usuarios{% endblock %}
{% block content %}
            
                  <div id="content">
                    <section>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h2 class="font-weight-bold mb-3 mt-2">Usuarios</h2 >   
                                        <div class="input-group mb-2">
                                          <button type="button" class="input-group-text bg-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                              <i class="fa fa-plus text-white"></i>
                                            </button>
                                            
                                            <input type="text" class="form-control" placeholder="Buscar usuario">
                                        </div>
                                        <table class="table table-stripe table-hoverd">
                                            <thead>
                                                <tr>
                                                    <th class="col-md-1">Status</th>
                                                    <th class="col-md-3">Nombre</th>
                                                    <th class="col-md-3">Usuario</th>
                                                    <th class="col-md-3">Correo</th>
                                                    <th class="col-md-2">Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for user in users %}
                                                <tr style="cursor:pointer" data-bs-toggle="modal" data-bs-target="#exampleModal" data-id="{{ user._id }}" name="user_data">
                                                    <td>
                                                      {% if user.status == 1 %}
                                                        <span class="badge bg-success">Activo</span>
                                                      {% else %}
                                                        <span class="badge bg-danger">Inactivo</span>
                                                      {% endif %}
                                                    </td>
                                                    <td>
                                                        {{user.name}}
                                                    </td>
                                                    <td>
                                                        {{user.username}}
                                                    </td>
                                                    <td>
                                                        {{user.email}}
                                                    </td>
                                                    <td>
                                                      <input class="btn btn-outline-primary btn-sm" type="button" value="Edit" onclick="fillUserEditModal('{{user._id}}')"> 
                                                      <!-- <i class="fas fa-edit"></i> -->
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                </div>
                            </div>
                        </div>
                    </section>
                  </div>
        

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
              <div class="modal-content">
                <form id="modalForm">
                  <div class="modal-header p-2">
                    <h5 class="modal-title" id="exampleModalLabel">(Agregar o editar) usuario </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="modalClose"></button>
                  </div>
                  <div class="modal-body p-2">
                    <div class="input-group input-group-sm mb-2">
                        <span class="input-group-text" >Nombre</span>
                        <input type="text" class="form-control" id="name" name="name">
                    </div>
                    <div class="input-group input-group-sm mb-2">
                        <span class="input-group-text" >Email</span>
                        <input type="text" class="form-control" id="email" name="email">
                    </div>
                    <div class="input-group input-group-sm mb-2">
                        <span class="input-group-text" >Usuario</span>
                        <input type="text" class="form-control" id="username" name="username">
                    </div>
                    <div class="input-group input-group-sm mb-2">
                        <span class="input-group-text" >Contraseña</span>
                        <input type="text" class="form-control" id="password" name="password">
                    </div>
                    <div class="input-group input-group-sm mb-2">
                      <select class="form-select" id="privileges" name="privileges">
                        <option value="admin">Administrador</option>
                        <option value="user">Usuario</option>
                      </select>
                    </div>
                  </div>
                  <div class="modal-footer p-1">
                    <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button> -->
                    <input type="button" class="btn btn-success btn-sm" value="Agregar" onclick="addUser()">
                  </div>
                </form>
              </div>
            </div>
          </div>

{% endblock %}  
    <!-- <footer class="text-center text-lg-start bg-white text-muted shadow  ">
      <div class="text-center p-2 " >
        © 2021 Copyright
      </div>
    </footer> -->

    
    
