{% extends "navbar.html" %}
{% block title %}Usuarios{% endblock %}
{% block content %}
            <div class="w-100">
                <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm p-0">
                    <div class="container-fluid">
                      <div class="collapse navbar-collapse d-flex " id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto p-0 bd-highlight mb-2 mb-lg-0">
                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                                Usuario
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                              <li><a class="dropdown-item" href="#">Editar usuario</a></li>
                              <li><hr class="dropdown-divider"></li>
                              <li><a class="dropdown-item" href="#">Cerrar sesion</a></li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </nav>
                  <div id="content">
                    <section>
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h2 class="font-weight-bold mb-3 mt-2 " ">Usuarios</h2 >   
                                        <div class="input-group mb-2">
                                          <button type="button" class="input-group-text bg-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                              <i class="fa fa-plus text-white"></i>
                                            </button>
                                            
                                            <input type="text" class="form-control" placeholder="Buscar usuario">
                                        </div>
                                        <table class="table table-stripe table-hoverd">
                                            <thead>
                                                <tr>
                                                    <th>Nombre</th>
                                                    <th>Correo</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for user in users %}
                                                <tr style="cursor:pointer" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                    <td>
                                                        {{user.name}}
                                                    </td>
                                                    <td>
                                                        {{user.email}}
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                </div>
                            </div>
                        </div>
                    </section>
                  </div>
            </div>
        

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header p-2">
                  <h5 class="modal-title" id="exampleModalLabel">(Agregar o editar) usuario </h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-2">
                  <form method="post">
                    <div class="input-group input-group-sm mb-2">
                        <span class="input-group-text" >Nombre</span>
                        <input type="text" class="form-control" id="name" name="name">
                    </div>
                    <div class="input-group input-group-sm mb-2">
                        <span class="input-group-text" >Email</span>
                        <input type="text" class="form-control" id="email" name="email">
                    </div>
                    <div class="input-group input-group-sm mb-2">
                        <span class="input-group-text" >Usuario</span>
                        <input type="text" class="form-control" id="username" name="username">
                    </div>
                    <div class="input-group input-group-sm mb-2">
                        <span class="input-group-text" >Contraseña</span>
                        <input type="text" class="form-control" id="password" name="password">
                    </div>
                  </form>
                </div>
                <div class="modal-footer p-1">
                  <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button> -->
                  <button type="button" class="btn btn-success btn-sm">Guardar</button>
                </div>
              </div>
            </div>
          </div>

{% endblock %}  
    <!-- <footer class="text-center text-lg-start bg-white text-muted shadow  ">
      <div class="text-center p-2 " >
        © 2021 Copyright
      </div>
    </footer> -->

    
    
